.Benefit {
  .CustomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: auto;
    max-width: 1140px;
  }
  @media (max-width: 995px) {
    .CustomContainer {
      flex-direction: column;
      padding: 0 15px;
    }
  }
}
