.DealOfTheWeek {
  width: 100%;
  margin-top: 41px;
  background: #f2f2f2;

  .CustomContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;

    .DealOfTheWeekInnerContent {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      align-items: center !important;

      .DealOfTheWeekImage {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        justify-content: center;
        img {
          vertical-align: middle;
          height: 100%;
          border: none;
        }
      }

      .DealOfTheWeekExpireDate {
        display: flex;
        justify-content: center;
        flex: 0 0 50%;
        max-width: 50%;

        .DealOfTheWeekExpireDateContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: auto;
          .DealOfTheWeekExpireDateTitle {
            display: inline-block;
            text-align: center;
            h2 {
              color: #282828;
              -webkit-font-smoothing: antialiased;
              -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
              text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
              font-size: 40px;
              position: relative;
              &::after {
                display: block;
                position: absolute;
                top: calc(100% + 13px);
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                width: 60px;
                height: 5px;
                background: #fe4c50;
                content: "";
              }
            }
          }
          .DealOfTheWeekExpireDateTimer {
            margin-top: 66px;
            li {
              width: 120px;
              height: 120px;
              border-radius: 50%;
              background: #ffffff;
              margin-right: 10px;
              display: inline-flex !important;
              flex-direction: column !important;
              justify-content: center !important;
              align-items: center !important;

              .timerNumb {
                font-size: 48px;
                font-weight: 600;
                color: #fe4c50;
                margin-top: 10px;
              }
              .timerDesc {
                margin-top: 12px;
                font-size: 16px;
                font-weight: 500;
                color: #51545f;
              }
            }
          }
          .DealOfTheWeekExpireDateBtn {
            margin-top: 52px;
            button {
              width: 140px;
              background: #1e1e27;
              color: #ffffff;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 500;
              text-align: center;
              line-height: 40px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 995px) {
    .CustomContainer .DealOfTheWeekInnerContent .DealOfTheWeekImage {
      flex: initial;
      max-width: initial;
    }
    .CustomContainer .DealOfTheWeekInnerContent {
      flex-wrap: initial;
      flex-direction: column;
      position: relative;
    }
    .CustomContainer .DealOfTheWeekInnerContent .DealOfTheWeekExpireDate {
      position: absolute;
      top: 100px;
    }

    .CustomContainer .DealOfTheWeekInnerContent .DealOfTheWeekImage img {
      width: 100%;
    }
    .CustomContainer
      .DealOfTheWeekInnerContent
      .DealOfTheWeekExpireDate
      .DealOfTheWeekExpireDateContainer
      .DealOfTheWeekExpireDateTimer {
      display: flex;
      li {
        width: 70px;
        height: 70px;
        .timerNumb {
          font-size: 28px;
        }
        .timerDesc {
          margin-top: 1px;
          font-size: 14px;
        }
      }
    }

    .CustomContainer
      .DealOfTheWeekInnerContent
      .DealOfTheWeekExpireDate
      .DealOfTheWeekExpireDateContainer
      .DealOfTheWeekExpireDateTitle
      h2 {
      font-size: 24px;
    }
    .CustomContainer
      .DealOfTheWeekInnerContent
      .DealOfTheWeekExpireDate
      .DealOfTheWeekExpireDateContainer
      .DealOfTheWeekExpireDateBtn
      button {
      font-size: 12px;
    }
  }
}
